.logo {
  width: 25%;
}

.nav-theme {
  background-color: #33F6DB;
  font-size: 20px;
}
.nav-link{
  font-family: 'Roboto', sans-serif;
  color: #050606 !important;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
